<!DOCTYPE html>
<html>
  <head>
    <title>Chessbond</title>

    <!-- Viewport mobile tag for sensible mobile support -->
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/css/chessboard-0.3.0.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
 
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    
 <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>'
      <% if (loggedin==true){ %>
		  ,
      me: <%- JSON.stringify(me) %>
		<% } %>
    };
    <% if (loggedin==true){ %>
  var user=  window.SAILS_LOCALS.me.id;
  <% } %>
  
 
    </script>
    
  </head>

  <body ng-app="HomepageModule" ng-controller="HomepageController" ng-cloak>
	   <% if (loggedin==true){ %>
<div  ng-init="getjoinedgames('<%- me.id %>')"></div>
<div ng-init="subscribeToMyGames()"></div>
  <% } %>
  
   <%- include partials/navbar.ejs %>
    
 
	
   <div class=" col-md-12">
		<div class="jumbotron">
        <h1>Chessbond</h1>
     <% if (loggedin==false) { %>
        <a href="/signup" class="btn btn-lg btn-success">Sign up now!</a>
           <%}else { %>
			<form ng-submit="creategame('<%- me.id %>','<%- me.name %>')">
				<button type="submit" class="btn btn-lg btn-success">Create a New vs Human Game</button>
			</form>
			<a href="/playvsai" class="btn btn-lg btn-success">Play Chess against the AI!</a>
			<% } %>
		</div>
    </div>
   
    <script>
		
	//io.socket.on('chessgame', function(event){console.log(event);})
	//io.socket.get('/chessgame', function(resData, jwres) {console.log(resData);})

	</script>
	
    <h2 class="sub-header">Your Games</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              
		
			<thead>
                <tr>
	              <th>Player1</th>
                  <th>Player2</th>
                  
				<!--HEADERS OF TABLE-->
                </tr>
           </thead>
           <tbody>
				  
            <tr ng-repeat="game in joinedgames track by $index">
			<td>{{game.Player1Name}}</td>
			<td>{{game.Player2Name}}</td>
			
			<td>
				
				
				<button ng-click="PlayGame(game.id)" class="btn btn-lg btn-success" >Play Game</a>
				<button ng-click="deletegame(game.id)">Delete Game</button>
				
			</td>
			
			</tr>
            </tbody>
            </table>
          </div>
     
   
    <h2 class="sub-header">Open Games</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              
		
			<thead>
                <tr>
	              <th>Player</th>
                  <th>Date</th>
                  <th>Join</th>
				<!--HEADERS OF TABLE-->
                </tr>
           </thead>
           <tbody>
				  
            <tr ng-repeat="chat in opg track by $index">
			<td>{{chat.Player1Name}}</td>
			<td>{{chat.phrase}}</td>
			
			     <% if (loggedin==true) { %>
			<td>
				<button ng-click="joingame(chat.id,chat.Player1,chat.Player1Name,'<%-me.id%>','<%-me.name%>')">Join Game</button>
			</td>
			<% } %>
			</tr>
            </tbody>
            </table>
          </div>
          
   
    

			



    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
    <script src="/js/dependencies/chessboard-0.3.0.min.js"></script>
    <script src="/js/dependencies/chess.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/enginegame.js"></script>
    <script src="/js/dependencies/stockfish.js"></script>
    <script src="/js/dependencies/toastr.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/private/dashboard/DashboardModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/public/homepage/SinglePlayerModule.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/homepage/SinglePlayerController.js"></script>
    <script src="/js/public/homepage/TwoPlayerController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <!--SCRIPTS END-->


   
  </body>
</html>
