<!doctype html>
<html>
  <head>
  <title>Chessbond</title>
     <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!--STYLES-->
      <link rel="stylesheet" href="/styles/angular-toastr.css">
      <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
      <link rel="stylesheet" href="/styles/css/chessboard-0.3.0.min.css">
      <link rel="stylesheet" href="/styles/css/ng-right-click.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
		
      _csrf: '<%= _csrf %>'
       <% if (loggedin==true){ %>
      ,
      me: <%- JSON.stringify(me) %>
      
      <% } %>
      };
      var announced_game_over;
     
    </script>
     
       <!--SCRIPTS-->
       <script src="/js/dependencies/sails.io.js"></script>
       <script src="/js/dependencies/angular.1.3.js"></script>
       <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
       <script src="/js/dependencies/chessboard-0.3.0.min.js"></script>
       <script src="/js/dependencies/chess.min.js"></script>
       <script src="/js/dependencies/angular-toastr.js"></script>
       <script src="/js/dependencies/bootstrap.min.js"></script>
       <script src="/js/dependencies/compareTo.module.js"></script>
       <script src="/js/dependencies/enginegame.js"></script>
       <script src="/js/dependencies/ng-right-click.js"></script>
       <script src="/js/dependencies/stockfish.js"></script>
       <script src="/js/dependencies/toastr.js"></script>
       <script src="/js/public/signup/SignupModule.js"></script>
       <script src="/js/private/dashboard/DashboardModule.js"></script>
       <script src="/js/public/homepage/HomepageModule.js"></script>
       <script src="/js/public/homepage/SinglePlayerModule.js"></script>
       <script src="/js/private/dashboard/DashboardController.js"></script>
       <script src="/js/public/homepage/HomepageController.js"></script>
       <script src="/js/public/homepage/SinglePlayerController.js"></script>
       <script src="/js/public/homepage/TwoPlayerController.js"></script>
       <script src="/js/public/signup/SignupController.js"></script>
       <!--SCRIPTS END-->
    
   
  </head>
  <body ng-app="HomepageModule" ng-controller="TwoPlayerController" ng-cloak>
  <%- include partials/navbar.ejs %>
  

	<p>Game Id is   <%- me.GameID%></p>
	<script> var GameID='<%- me.GameID%>'</script>
		<p id="fenshower">
	
	</p>
	<form ng-submit="injectfen()">
	<input ng-model="fenform.fen" type="text" id="feninject">
	
	</input>
	
	<button type="submit" id="injectbutton" class="btn btn-success">Inject</button>
	</form>
	
	<span class="label label-default">Players</span>
	<br>
	<span class="text-info" ng-model="Player1Namer">Player1:<span class="label label-success" ng-right-click menu-items="menuItems">{{Player1Namer}}</span></span>
	<br>
	<span class="text-info" ng-model="Player2Name">Player2:<span class="label label-success">{{Player2Name}}</span></span>
	<hr>
	
    <div class="row" id="whole thing" >

      <div class="col-sm-7 col-md-6">
        <span class="h3" id="time1">0:05:00</span>
		<div ng-init="joinRoom('<%- me.name %>')"></div>
		<div ng-init="getchatmessages()"></div>
        <div ng-init="setBoard('<%- me.id %>')" id="board" style="width: 400px"></div>
        <span class="h3" id="time2">0:05:00</span>
        <hr>
        <div id="engineStatus">...</div>
      </div>
      <div class="col-sm-5 col-md-6">
        
        <!--  <form class="form-horizontal">
          <div class="form-group">
            <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4">Promote to</label>
            <div class="col-xs-4 col-sm-6 col-md-4">
              <select id=promote>
                <option value=q selected>Queen</option>
                <option value=r>Rook</option>
                <option value=b>Bishop</option>
                <option value=n>Knight</option>
              </select>
            </div>
          </div>
        </form>-->
        <span class="label label-default" ng-model="TurnTaker">It's {{TurnTaker}}'s Turn</span>
   <hr>
   <span class="label label-default">Chat</span>
    <div float="left">
    
     <textarea ng-model="chatting" rows="4" cols="50">
	{{chatting}}
	</textarea>
	<form ng-submit="chatMessage('<%- me.name %>')">
	 <input type="text" class="form-control" placeholder="chat message" name="name" ng-model="chatInput"  required>
	<button type="submit" >chat</button>
	</form>  
    </div>
    <hr>
    <hr>
      
      <span class="label label-default">Chesspiece Theme</span>
        <select class="form-control"
  ng-model="MyPieceTheme"
  name="string"
  multiple="string"
  required="string"
  ng-required="string"
  ng-change="setBoard('<%- me.id %>')"
 
  ng-options="theme.name for theme in piecethemes" >

</select>
  </body>
</html>
